.docs-wrapper {
  color: white;
  padding: 14px;
  width: 1200px;
  margin: auto;
}
.docs-wrapper h2, .docs-wrapper h3, .docs-wrapper h4 {
  color: white;
}
.CG_charts_PIE, .CG_form_1, .CG_form_2, .CG_form_3 {
  max-width: 1200px;
  margin: 80px auto;
}