.page-content {
  
}
.cryptoGravity-wrap {
  width: 1200px;
  height: 729px;
  margin-left: auto;
  margin-right: auto;
  position: relative;
}
.cryptoGravity-earth-svg {
  width: 1200px;
  height: 729px;
  overflow: hidden;
}
.cryptoGravity-content {
  margin-top: 190px;
  position: absolute;
  top: 0;
}
.cryptoGravity-title {
  color: rgba(255,255,255,1);
  font-size: 48px;
  font-weight: 700;
  margin-bottom: 10px;
}
.cryptoGravity-desc {
  width: 359px;
  height: 54px;
  opacity: 1;
  color: rgba(255,255,255,0.8);
  font-size: 18px;
  margin-bottom: 40px;
}
.start-btn {
  width: 147px;
  height: 58px;
  border-radius: 10px;
  opacity: 1;
  cursor: pointer;
  color: rgba(255,255,255,1);
  font-size: 24px;
  font-weight: 400;
  background: linear-gradient(214deg, rgba(92,187,255,1) 0%, rgba(26,95,228,1) 100%);
  display: flex;
  align-items: center;
  justify-content: center;
}
.start-btn-img {
  width: 24px;
  height: 24px;
  margin-left: 10px;
}
.introduction-wrap {
  height: 873px;
  width: 1200px;
  margin-left: auto;
  margin-right: auto;
}

.introduction-title {
  color: rgba(255,255,255,1);
  font-size: 38px;
  font-weight: 700;
  text-align: center;
  margin-bottom: 16px;
}
.introduction-line {
  margin: 0 auto;
  width: 124px;
  height: 6px;
  opacity: 1;
  background: rgba(24,111,242,1);
  margin-bottom: 64px;
}
.introduction-item {
  width: 380px;
  height: 270px;
  border-radius: 10px;
  opacity: 1;
  background: rgba(9,11,34,0.8);
}
.introduction-content {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  position: relative;
}
.introduction-item {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-bottom: 30px;
}
.introduction-item:hover {
  background: linear-gradient(214deg, rgba(92,187,255,1) 0%, rgba(26,95,228,0.1) 100%);
  box-shadow: 0 0 30px 0 rgba(84,176,252,0.35);
}
.introduction-item-img {
  width: 64px;
  height: 64px;
  margin-bottom: 16px;
}
.introduction-item-title {
  color: rgba(255,255,255,1);
  font-size: 16px;
  font-weight: 700;
  margin-bottom: 10px;
}
.introduction-item-desc {
  color: rgba(255,255,255,0.8);
  font-size: 16px;
  font-weight: 400;
  width: 340px;
}
.do-wrap {
  height: 715px;
  position: relative;
  width: 1200px;
  margin-left: auto;
  margin-right: auto;
}
.to-item {
  width: 478px;
  height: 223px;
  background-size: 478px 223px;
  background-repeat: no-repeat;
  background-image: url('@/assets/img_cwd_1.png');
  position: relative;
  
}
.to-item-left {
  background-image: url('@/assets/img_cwd_2.png');
}
.to-item-content {
  position: absolute;
  left: 18px;
  top:  21px;
  width: 320px;
  box-sizing:border-box;
  padding: 0 16px;
}
.to-item-content-left {
  right: 18px;
  left:auto;
}
.to-item-title {
  color: rgba(24,111,242,1);
  font-size: 18px;
  font-weight: 700;
  text-align: center;
  margin-top: 21px;
  margin-bottom: 8px;
}
.to-item-desc {
  color: rgba(255,255,255,0.8);
  font-size: 16px;
  font-weight: 400;
}
.to-item-desc-left {
  float: right;
}
.to-center-image {
  width: 352px;
  height: 406px;
  position: absolute;
  top: 0;
  left: 50%;
  transform: translate(-50%, 0);
  overflow: hidden;
}
.roadmap-wrap {
  height: 606px;
  width: 1200px;
  margin-left: auto;
  margin-right: auto;
}
.roadmap-content {
  position: relative;
}
.roadmap-line {
  width: 100%;
}
.roadmap-point {
  position: absolute;
  width: 64px;
  height: 64px;
  background-size: 64px 64px;
  cursor: pointer;
  background-image: url('@/assets/ic_roadmap_dot_nol.png');
}
.roadmap-point-active {
  background-image: url('@/assets/ic_roadmap_dot_sel.png');
}
.point-1 {
  top: 0;
  left: 122px;
}
.point-2 {
  top: 0;
  left: 363px;
}
.point-3 {
  top: 0;
  left: 604px;
}
.point-4 {
  top: 0;
  left: 847px;
}
.roadmap-date-wrap {
  display: flex;
  margin-top: 26px;
  position: relative;
  height: 85px;
  width: 1200px;
}
.roadmap-date-item {
  color: rgba(255,255,255,1);
  font-size: 18px;
  font-weight: 700;
  position: absolute;
  width: 120px;
}
.roadmap-date-2022Q3 {
  top: 0;
  left: 122px;
}
.roadmap-date-2022Q4 {
  top: 0;
  left: 363px;
}
.roadmap-date-2023Q1 {
  top: 0;
  left: 604px;
}
.roadmap-date-2023Q2 {
  top: 0;
  left: 847px;
}
.roadmap_date_add {
  width: 12px;
  height: 12px;
}
.point-detal-wrap {
  width: 676px;
  height: 137px;
  opacity: 1;
  border: 1px solid #356F8F;
  background: rgba(5,2,22,1);
  box-shadow: 0 0 20px 0 rgba(84,176,252,0.25);
  border-radius: 5px;
  position: relative;
  top: 0;
  left: 122px;
  padding: 16px;
  line-height: 24px;
  color: rgba(255,255,255,1);
  font-size: 16px;
  font-weight: 400;
  display: none;
}
.point-detal-active {
  display: block;
}
.point-detal-triangle-wrap {
  width: 10px;
  height: 10px;
  position: absolute;
  top: -6px;
  left: 25px;
  border: 1px solid #356F8F;
  box-shadow: 0 0 20px 0 rgba(84,176,252,0.25);
  transform: rotate(45deg);
  border-right: 0;
  border-bottom: 0;
  background: rgba(5,2,22,1);
}
.point-detal-triangle-right-wrap {
  left: auto;
  right: 25px;
}
.point-detal-2022Q3 {
  top: 0;
  left: 122px;
}
.point-detal-2022Q4 {
  top: 0;
  left: 363px;
}
.point-detal-2023Q1 {
  top: 0;
  left: -40px;
}
.point-detal-2023Q2 {
  top: 0;
  left: 200px;
}
.tokens-wrap {
  height: 494px;
  width: 1200px;
  margin-left: auto;
  margin-right: auto;
}
.tokens-tips-wrap {
  color: rgba(255,255,255,1);
  font-size: 32px;
  font-weight: 700;
}
.img-tokens {
  width: 614px;
  height: 370px;
}
.teams-wrap {
  width: 1288px;
  margin-left: auto;
  margin-right: auto;
  height: 594px;
}
.team-avatar-list-wrap {
  width: 1288px;
  height: 288px;
  overflow: hidden;
}
.team-avatar-body-list-wrap {
  width: 1288px;
  height: 288px;
  display: flex;
  align-items: center;
}
.team-avatar-item {
  margin-right: 60px;
  width: 190px;
  height: 190px;
}
.team-avatar-item:last-child{
  margin-right: 0;
}
.team-avatar-img{
  width: 100%;
  height: 100%;
}
.team-avatar-item-active {
  width: 288px;
  height: 288px;
  transition:.3s;
}
.teams-btn-left {
  background-image: url('@/assets/ic_team_left.png');
  background-size: 64px 64px;
  width: 64px;
  height: 64px;
  cursor: pointer;
}
.teams-btn-right {
  background-image: url('@/assets/ic_team_right.png');
  background-size: 64px 64px;
  width: 64px;
  height: 64px;
  cursor: pointer;
}
.teams-bottom-wrap {
  display: flex;
  height: 145px;
  align-items: center;
  justify-content: center;
  margin-top: 20px;

}
.teams-menber-desc-wrap {
  width: 570px;
}
.teams-menber-name {
  color: rgba(255,255,255,1);
  font-size: 32px;
  font-weight: 700;
  text-align: center;
  line-height: 48px;
}
.teams-menber-name-line {
  width: 38px;
  height: 1px;
  background-color: #fff;
  margin: 10px auto;
}
.teams-menber-desc {
  text-align: center;
  color: rgba(255,255,255,0.8);
  font-size: 14px;
  font-weight: 400;
  line-height: 21px;
}