.app-footer {
  height: 80px;
  display: flex;
  align-items: center;
  background: rgba(5,2,22,0.5);
}
.app-footer-content {
  width: 1200px;
  margin: 0 auto;
  color: #fff;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.contact-wrap {
  display: flex;
  align-items: center;
}
.contact-item-wrap {
  margin-left: 24px;
  display: flex;
  align-items: center;
}
.contact-item-wrap>img {
  width: 20px;
  height: 20px;
  margin-right: 10px;
}